DB_HOST=
DB_PORT=3306
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_CA_PATH=./ca.pem

JWT_SECRET=change_me_to_a_long_random_string
JWT_EXPIRES_IN=7d
VERIFY_EMAIL_TOKEN_EXP_MIN=30
VERIFY_TOKEN_EXP_MIN=10

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

FIREBASE_SERVICE_ACCOUNT_JSON=./firebase-service-account.json

PORT=4000
NODE_ENV=development

RATE_LIMIT_WINDOW_MS=60000
RATE_LIMIT_MAX=30

GMAIL_USER=
GMAIL_APP_PASSWORD=
FRONTEND_URL=